
<aside class="sidebar">

  <div class="logo">
    <div class="logo-icon">
      F
    </div>

    <div class="logo-text">
      <strong>Fleet</strong>
      <span>Management</span>
    </div>
  </div>

  <nav class="navigation">

    <a routerLink="/dashboard"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">⌂</span>
      <span>Dashboard</span>

    </a>

    <a routerLink="/vehicles"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">🚗</span>
      <span>Vehicles</span>

    </a>

    <a routerLink="/drivers"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">👤</span>
      <span>Drivers</span>

    </a>

    <a routerLink="/assignments"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">🔗</span>
      <span>Assignments</span>

    </a>

    <a routerLink="/fuel"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">⛽</span>
      <span>Fuel</span>

    </a>

    <a routerLink="/maintenance"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">🔧</span>
      <span>Maintenance</span>

    </a>

    <a routerLink="/trips"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">🛣</span>
      <span>Trips</span>

    </a>

    <a routerLink="/reports"
       routerLinkActive="active"
       class="nav-item">

      <span class="icon">📊</span>
      <span>Reports</span>

    </a>

  </nav>

</aside>